extends layout

block content
  h1 World Modelers PRAiSE Example
  p Demonstration system for PRAiSE.

  h3 Input
  #editor
    | // Enter expression here.
  .controls
    button(value='Validate') Validate
    button(value='Process' id='runButton') Run

  h3 Output
  #output



  script(src='/javascripts/editor.js')
